configuration {
  font: "JetBrainsMono Nerd Font 14";
}

* {
  background-color: #1e1e2e;
  foreground: #cdd6f4;
}

window {
  background-color: #1e1e2e;
  border: 2px solid #89b4fa;
}

listview {
  lines: 5;
  spacing: 10px;
  fixed-height: false;
}

element {
  background-color: transparent;
  foreground: #cdd6f4;
}

element selected {
  background-color: #89b4fa;
  foreground: #1e1e2e;
}

element-text {
  margin: 0px 10px;
  vertical-align: 0.5;
}
